<!DOCTYPE html>
<html lang="en">
<head>
<title>Job Scrapper</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
>
</head>
<body>
<main class="container">
<h1>잔소리 머신</h1>
<p style="color:cadetblue;">당신을 위해 대신 잔소리를 합니다</p>
<h4>어떤 잔소리???</h4>
<form action="/nagging">
    <input type="text" name="keyword" placeholder="Write keyword please" />
    <button>{{name}}</button>
</form>
</main>
</body>
</html>
