<!DOCTYPE html>
<html lang="en">
<head>
<title>Job Scrapper</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
>
</head>
<body>
<main class="container">
<h1>Job Crawler</h1>
<p style="color:cadetblue;">This will crawls job infos using <b>YOUR KEYWORD</b><br>On web3.career, weworkremotely.com, and berlinstartupjobs.com Sites</p>
<h4>What job do you want?</h4>
<form action="/search">
    <input type="text" name="keyword" placeholder="Write keyword please" />
    <button>{{name}}</button>
</form>
</main>
</body>
</html>
